body{
    background-color: rgb(148, 146, 143);
}
h1{
    color: rgb(51, 160, 8);
    text-align: center;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 30px;
    text-shadow: 0.5cm;

}
p{
    color: brown;
    font-family: 'Times New Roman', Times, serif;
    text-align: center;
    font-size: medium;
}